POSTGRES_DB=irms
POSTGRES_USER=postgres
POSTGRES_PASSWORD=waguri

DB_HOST=db
DB_PORT=5432
DB_NAME=irms
DB_USER=postgres
DB_PASSWORD=waguri

JWT_SECRET=irms_super_secret_key_change_in_production
JWT_EXPIRES_IN=8h

PORT=3000
VITE_API_URL=/api
