# PostgreSQL connection
DB_HOST=localhost
DB_PORT=5432
DB_NAME=irms
DB_USER= add_your_db_user_here
DB_PASSWORD= add_your_db_password_here

# JWT
JWT_SECRET=irms_super_secret_key_change_in_production
JWT_EXPIRES_IN=8h

# Server
PORT=3000

# location: backend/.env